.card {
  border: 5px var(--secondary) solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--tertiary);
  margin-bottom: 15px;
  padding: 20px;
}

.card-title {
  font-size: 1.4em;
  color: var(--accent);
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px var(--secondary) solid;
  margin-bottom: 10px;
}

.content-item-label .content-item-data {
  display: inline-block;
}

.content-item-label {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 10px;
}

.content-item-data {
  font-size: 1.0em;
}
