@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary: #1A1A2E;
  --secondary: #16213E;
  --tertiary: #0F3460;
  --text: #91b6e2;
  --text-secondary: #74abf0;
  --accent: #E94560;
  --accent-secondary: #c4324a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary);
  color: var(--text);
}

a {
  color: var(--accent);
}

h2 {
  color: var(--accent);
  font-size: 1.8em;
  padding-bottom: 10px;
  border-bottom: var(--secondary) 2px solid;
  margin-bottom: 20px;
}

h3 {
  color: var(--text-secondary);
  font-size: 1.5em;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px var(--secondary) solid;
  margin-top: 10px;
}

.content {
  margin: 20px;
}

/* Card */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 5px var(--secondary) solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--tertiary);
  padding: 20px;
  width: 500px;
}

.card-title {
  font-size: 1.4em;
  color: var(--accent);
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px var(--secondary) solid;
  margin-bottom: 10px;
}

.content-item {
  display: flex;
  justify-content: space-between;
}

.content-item-label {
  font-weight: bold;
  font-size: 1.0em;
  margin-right: 10px;
}

.content-item-data {
  font-size: 0.9em;
  text-align: right;
}

.content-counts {
  padding-top: 10px;
  border-top: 1px var(--secondary) solid;
  margin-top: 10px;
  color: var(--text-secondary);
}

/* Detail specification */

.specification-label {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 10px;
}

.specification-data {
  font-size: 1.0em;
}

.specification-list {
  margin-top: 20px;
}
