<div *ngIf="dataLoaded; else loading">
  <div *ngIf="pilot">
    <h2>{{ pilot.name }}</h2>

    <div class="specifications">
      <div class="specification-item">
        <span class="specification-label">Height</span>
        <span class="specification-data">{{ pilot.height }}</span>
      </div>
      <div class="specification-item">
        <span class="specification-label">Mass</span>
        <span class="specification-data">{{ pilot.mass }}</span>
      </div>
      <div class="specification-item">
        <span class="specification-label">Hair color</span>
        <span class="specification-data">{{ pilot.hair_color }}</span>
      </div>
      <div class="specification-item">
        <span class="specification-label">Skin color</span>
        <span class="specification-data">{{ pilot.skin_color }}</span>
      </div>
      <div class="specification-item">
        <span class="specification-label">Eye color</span>
        <span class="specification-data">{{ pilot.eye_color }}</span>
      </div>
      <div class="specification-item">
        <span class="specification-label">Birth year</span>
        <span class="specification-data">{{ pilot.birth_year }}</span>
      </div>
      <div class="specification-item">
        <span class="specification-label">Gender</span>
        <span class="specification-data">{{ pilot.gender }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>



